@import "tailwindcss";
html,body{
  height: 100%;
  width: 100%;
}
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 0em;
  will-change: filter;
  transition: filter 300ms;
  animation: logo-pulse infinite 7s linear;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #6b61fbaa);
}

@keyframes logo-pulse {
  0% {
    scale: 95%;
  }
  50%{
    scale: 105%;
  }
  100% {
    scale: 95%;
  }
}